.panucci
  float: left

  @media (max-width: $screen-md-max)
    width: 225px
    padding-right: 10px
    padding-bottom: 50px

  @media (max-width: $screen-sm-max)
    display: none

.lil-panucci
  display: none

  @media (max-width: $screen-sm-max)
    display: inline
    float: left
    width: 130px
    margin-top: 10px

  @media (max-width: $screen-xs-max)
    width: 100px
    margin-top: -5px
    margin-left: 5%

.should-i
  font-family: $font-family-headings
  font-size: 2em
  font-weight: $font-weight-base
  display: block
  margin: 1.5em auto
  padding: 1em 2em
  color: $text-color
  border: none
  border-radius: 0.25em
  background-color: $brand-primary

  @media (max-width: $screen-sm-max)
    font-size: $font-size-large
