h2
  font-family: $font-family-headings
  font-size: 3em
  font-weight: normal
  text-align: center
  line-height: 1em

.main-content
  &:after
    content: ''
    display: block
    clear: both

.grid
  float: left

.grid-left
  width: 35%

.grid-right
  width: 65%

  @media (max-width: $screen-sm-max)
    float: none
    width: 100%

.panucci

  @media (max-width: $screen-md-max)
    width: 225px
    padding-right: 10px
    padding-bottom: 50px

  @media (max-width: $screen-sm-max)
    display: none

.lil-panucci
  display: none

  @media (max-width: $screen-sm-max)
    display: inline
    float: left
    width: 130px
    margin-top: 10px

  @media (max-width: $screen-xs-max)
    width: 80px
    margin-top: -5px
    margin-left: 5%

.pizza-button
  font-family: $font-family-headings
  font-size: 2em
  font-weight: $font-weight-base
  display: block
  margin: 1.5em auto
  padding: 1em 2em
  color: $text-color
  border: none
  border-radius: 0.25em
  box-shadow: 2px 2px 1px darken($body-bg, 10%)

  @media (max-width: $screen-sm-max)
    font-size: $font-size-large

.should-i
  background-color: $brand-primary

.find-pizza
  background-color: $brand-secondary

.arrow-box
  @extend .pizza-button
  position: fixed
  right: 19px
  font-size: 1.5em
  background: $brand-secondary
  z-index: 10000
  top: -10px
  -webkit-animation: arrow 1s ease-out

  &:before
    position: absolute
    content: ""
    bottom: 100%
    width: 0
    height: 0
    right: 30px
    border-bottom: 26px solid $brand-secondary
    border-right: 13px solid transparent
    border-left: 13px solid transparent

  @keyframes arrow
    0%
      top: -500px
    60%
      top: -10px
    70%
      top: -20px
    80%
      top: -10px
    90%
      top: -13px
    100%
      top: -10px

