<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Should I Order a Pizza?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
  </head>
  <body ng-app="shouldiorderapizzacomApp" ng-controller="MainCtrl as main" ng-init="main.init()">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <button
      ng-cloak
      ng-show="main.showGeoPrompt()"
      class="arrow-box arrow"
    >Allow = Pizza</button>
    <header>
      <div class="container">
        <p class="ribbon" ng-bind="main.byline"></p>
      </div>
      <div class="container-mobile">
        <img src="images/pizza-chef.png" alt="Pizza chef" class="lil-panucci" />
        <h1>
          <a href="/"><span>Should<em>I</em></span><span></em>Order<em>A</em></span><span>Pizza<em>.com</em></span></a>
        </h1>
      </div>
    </header>

    <div class="container main-content">
      <div class="grid grid-left">
        <img src="images/pizza-chef.png" alt="Pizza chef" class="panucci" />
      </div>
      <div class="grid grid-right">
        <p ng-hide="main.hasUserAsked">With so many food options out there nowadays, deciding whether or not to order a pizza can be a stressful and degrading experience.</p>

        <p ng-hide="main.hasUserAsked">Take some of the shame away by letting us decide whether or not you should order one. You have enough to deal with.</p>

        <button
          ng-hide="main.hasUserAsked"
          class="pizza-button should-i"
          ng-click="main.hasUserAsked = true"
        >Well, Should I?!</button>

        <h2 ng-show="main.showAnswer()" ng-cloak>{{main.answer.text}}</h2>
        <p ng-show="main.showAnswer()" ng-cloak>{{main.answer.explanation}}</p>

        <button
          ng-cloak
          ng-show="main.showFindButton()"
          class="pizza-button find-pizza"
          ng-click="main.lookForPizza()"
        >Find Me A Pizza</button>

        <div ng-cloak ng-show="main.isLookingForPizza()" class="loader"></div>

        <p ng-cloak ng-show="main.geolocationError">Sorry pal, no pizza on the moon. Try the <a href="http://lmgtfy.com/?q=pizza&l=1">internet</a>.</p>

        <ul
          ng-cloak
          ng-show="main.findUserPizza"
          class="pizza-results">
          <li ng-repeat="pizzaJoint in main.pizzaJoints | orderBy:'rating':true">
            <div class="detail">
              <h3><a ng-href="pizzaJoint.url">{{pizzaJoint.name}}</a></h3>
              <p>{{pizzaJoint.vicinity}}</p>
              <p><span class="rating"
                ng-show="pizzaJoint.rating"
                >{{pizzaJoint.rating}}
                <span class="stars"><span ng-class="main.roundRating(pizzaJoint.rating)"></span></span></span>
                {{pizzaJoint.opening_hours.open_now? 'open now': 'currently closed'}}</p>
              <p><a
                ng-href="tel:{{pizzaJoint.international_phone_number}}"
                ng-bind="pizzaJoint.formatted_phone_number"></a></p>
              <p><a
                target="_blank"
                ng-href="{{pizzaJoint.website}}"
                ng-bind="pizzaJoint.website"></a></p>
            </div>
            <div class="detail-right" ng-hide="pizzaJoint.details">
              <button ng-click="main.fetchDetails(pizzaJoint)">More Details</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="container">
        <p>We made the right decision.</p>
        <ul class="share-links">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.shouldiorderapizza.com&t=Should%20I%20Order%20A%20Pizza" onclick="javascript:window.open(this.href, '',
            'menubar=no,toolbar=no,height=600,width=600');return false;" class="fa fa-facebook fa-2x"></a></li>
          <li><a href="https://twitter.com/shouldiorder" class="fa fa-twitter fa-2x"></a></li>
          <li><a href="https://plus.google.com/share?url=http://www.shouldiorderapizza.com/" onclick="javascript:window.open(this.href, '',
            'menubar=no,toolbar=no,height=600,width=600');return false;" class="fa fa-google-plus fa-2x"></a></li>
        </ul>
      </div>
    </footer>

    <link href='http://fonts.googleapis.com/css?family=Oswald:300,700|Lato:300' rel='stylesheet' type='text/css'>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-56715922-1');
       ga('send', 'pageview');
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/answerService.js"></script>
    <script src="scripts/services/browser.js"></script>
    <script src="scripts/services/googleMapsPlaces.js"></script>
    <script src="scripts/services/PizzaPlace.js"></script>
    <script src="scripts/services/pizzaPlaces.js"></script>
    <script src="scripts/services/geolocation.js"></script>
    <!-- endbuild -->
</body>
</html>
